fastapi>=0.110.0
uvicorn>=0.21.0
fastembed==0.6.1

elasticsearch==8.17.2
python-dotenv>=1.0.0
pydantic>=1.10.7
aiofiles>=23.1.0
python-multipart>=0.0.6
httpx>=0.24.0
numpy>=1.24.3
aiohttp>=3.8.0

# Google Cloud Vertex AI
google-cloud-aiplatform>=1.36.0
google-cloud-texttospeech==2.27.0
vertexai>=0.0.1
pillow>=10.0.0

# mcp
mcp-use==1.2.8

# open ai
openai==1.77.0
langchain-openai==0.3.16

# jwt
PyJWT==2.10.1
starlette~=0.46.2
protobuf~=5.29.4
langchain-core~=0.3.58
redis~=6.0.0
tenacity~=9.1.2
langgraph~=0.4.3
requests~=2.32.3
pytz~=2025.2
tqdm~=4.67.1
pandas~=2.2.3
openpyxl~=3.1.5
aioredis~=2.0.1